*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    z-index: 1;
}

.my-navbar ul li a{
    color: white;
    text-transform: uppercase;
}

.my-carousel .carousel-inner {
    height: 100vh;
}
  
.my-carousel .carousel-inner .carousel-item {
    height: 100%;
}

.carousel .carousel-indicators button {
    height: 4px !important;
    width: 4px !important;
    border-radius: 100% !important;
    border: solid 2px white;
    transform: translate(-50%, -3000%);
    background-color: black;
} 

.carousel .carousel-indicators button.active {
    background-color:white;
}
